button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	transition: all .2s;
	border: 2px solid;
	border-color: $black;
	//border-radius: 3px;
	background: $black;
	//box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: $white90;
	font-size:$h5;
	@extend %caps;
	line-height: 1.5;
	padding: .5rem 1rem;
	//text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		border-color: $color__link-hover;
		background-color:$color__link-hover;
		//box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		border-color: $color__link-hover;
		background-color:$color__link-hover;
		//border-color: $color__border-button-focus;
		//box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

button{
	transition: all .2s;
  background-color:none;
  border:none;
  font-weight:600;
  font-size:$h5;
}

.btn-circle{
  display:block;
  margin:auto;
  border-radius:50%;
  height:6rem;
  width:6rem;
  padding:1rem;
}

.button-text {
  display: block;
  padding: 5.5rem 0;
}
