input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	transition: all .2s;
	color: $black;
	border: 2px solid;
	border-color:$black;
	//border-top:none;
	//border-left:none;
	//border-right:none;
	//border-radius: 3px;
	//padding: 3px;
	padding:.5rem;
	font-size:$h5;
	&:focus {
		color: $color__text-input-focus;
		border-color: $color__link-hover;
	}
}

select {
	border-bottom: 2px solid $color__border-input;
}

textarea {
	width: 100%;
}
