@import "buttons";

@import "fields";

.search-form{
  position:relative;
  .search-field{
    width:100%;
  }
  .search-submit{
    position:absolute;
    right:0;
    top:0;
    line-height: .75;
    padding: .5rem;
  }
}
