.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
img {
	max-width: 100%;
}
.fluid-width-video-wrapper{
	margin-bottom:$space-after;
}

/**
 * Images
 */
img {
		height: auto; /* Make sure images are scaled correctly. */
    vertical-align: middle;
}
.fit{
  width:100%;
}
figure{
	max-width:100%;
	// Pulled out of Normalize - Must include all values
	margin:0 auto $space-after;
	img{
		max-height: 100vh;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
}


figcaption, .wp-caption-text{
	font-size:$h5;
	text-align: center;
	padding:$space-l;
}

/*
 * Media Element
 */

/* ====== media ====== */
.media { margin-bottom:$space-s}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: $space-s;}
.media .img img{display:block;}



/**
 * Figures
 */

figcaption {
    font-size: $small-font-size;
}
// CSS Tricks Fluid-Width-Video, Using .ratio-x-y Classes to Calculate proportion
.videoWrapper {
	position: relative;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg-cover{
	background-size:cover;
}
.bg-contain{
	background-size:contain;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
