.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
img {
	max-width: 100%;
}

/**
 * Images
 */
img {
		height: auto; /* Make sure images are scaled correctly. */
    vertical-align: middle;
}
.fit{
  width:100%;
}
figure{
	img{
		max-height: 90vh;
	}
}
figcaption, .wp-caption-text{
	font-size:$h5;
	text-align: center;
}

/*
 * Media Element
 */

/* ====== media ====== */
.media { margin:$space-s}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: $space-s;}
.media .img img{display:block;}



/**
 * Figures
 */

figcaption {
    font-size: $small-font-size;
}
// CSS Tricks Fluid-Width-Video, Using .ratio-x-y Classes to Calculate proportion
.videoWrapper {
	position: relative;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
