.widget {
	margin: 0 0 $space-after;
	border-bottom: 2px solid;
  padding-bottom: $space-after;
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
.widget_categories{
	ul{
		@extend %list-reset;
	}
}
.cat-item{
	a{
		@extend %td-none;
	}
}
