//$color__background-body: #fff;
//$color__background-screen: #f1f1f1;
//$color__background-hr: #ccc;
//$color__background-button: #e6e6e6;
//$color__background-pre: #eee;
//$color__background-ins: #fff9c0;
//
//$color__text-screen: #21759b;
//$color__text-input: #666;
//$color__text-input-focus: #111;
//$color__link: royalblue;
//$color__link-visited: purple;
//$color__link-hover: midnightblue;
//$color__text-main: #404040;
//
//$color__border-button: #ccc #ccc #bbb;
//$color__border-button-hover: #ccc #bbb #aaa;
//$color__border-button-focus: #aaa #bbb #bbb;
//$color__border-input: #ccc;
//$color__border-abbr: #666;

// UTILITY COLORS
$black: #000;
$black10:rgba(0,0,0,0.1);
$black20:rgba(0,0,0,0.2);
$black30:rgba(0,0,0,0.3);
$black40:rgba(0,0,0,0.4);
$black50:rgba(0,0,0,0.5);
$black60:rgba(0,0,0,0.6);
$black70:rgba(0,0,0,0.7);
$black80:rgba(0,0,0,0.8);
$black90:rgba(0,0,0,0.9);
.black  {color:$black;}
.black-1{color:$black10;}
.black-2{color:$black20;}
.black-3{color:$black30;}
.black-4{color:$black40;}
.black-5{color:$black50;}
.black-6{color:$black60;}
.black-7{color:$black70;}
.black-8{color:$black80;}
.black-9{color:$black90;}

$white: #FFF;
$white10:rgba(0,0,0,0.1);
$white20:rgba(0,0,0,0.2);
$white30:rgba(0,0,0,0.3);
$white40:rgba(0,0,0,0.4);
$white50:rgba(0,0,0,0.5);
$white60:rgba(0,0,0,0.6);
$white70:rgba(0,0,0,0.7);
$white80:rgba(0,0,0,0.8);
$white90:rgba(0,0,0,0.9);

.white  {color:$white;}
.white-1{color:$white10;}
.white-2{color:$white20;}
.white-3{color:$white30;}
.white-4{color:$white40;}
.white-5{color:$white50;}
.white-6{color:$white60;}
.white-7{color:$white70;}
.white-8{color:$white80;}
.white-9{color:$white90;}
