$font__main: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif ;
$font__ui: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif ;
$font__serif: 'adobe-text-pro', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif",  georgia, times, serif;
.font__serif{
  font-family:$font__serif;
}
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.5;

//Type Spacing
$space-before: 1.5rem;
$space-after:  1.5rem;

/* Type Scale from BASSCSS Powers of 2 */
// Font Scale    e.g.
$h1: 2rem;    // 32px
$h2: 1.5rem;  // 24px
$h3: 1.25rem; // 20px
$h4: 1rem;    // 16px
$h5: .875rem; // 14px
$h6: .75rem;  // 12px
$small-font-size: .875rem;

// Line Height, Maybe lh as class
$leading-solid: 1;
$leading-headline: 1.25;
$leading-text: 1.5;

// Addtl Style & Weight Variables
$caps-letter-spacing: .1em;
$bold-font-weight: 600;

h1, .h1 { font-size: $h1 }
h2, .h2 { font-size: $h2 }
h3, .h3 { font-size: $h3 }
h4, .h4 { font-size: $h4 }
h5, .h5 { font-size: $h5 }
h6, .h6 { font-size: $h6 }

$measure-width:40em;
$measure-width-narrow:22em;
