svg, use{
	transition: all .2s;
}

a {
	color: $color__link;
	transition: all .2s;
	&:visited {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
.link-border {
	text-decoration: none;
	text-decoration:none;
	border-bottom-style: solid;
	border-bottom-width: $border-width;
}


.permalink{
	@extend %td-none;
	.title{
		color:$black;
	}
	p{
		color:$color__text-main;
	}
}
.category-link{
	@extend %td-none;
	@extend %caps;
	@extend %bold;
	display:inline-block;
	//background-color:$color__link;
}


a.button{
  text-decoration:none;
  padding:$space-s $space-m;
  border-style: solid;
  border-width: $border-width;
  padding:$space-s $space-m;
  &:hover{

  }
  &:active{

  }
}

.link, %td-none{
	text-decoration:none;
	&--white{
		color:$white;
		&:visited{
			color:$white;
		}
		&:hover,
		&:focus,
		&:active {
			color: $white;
		}
	}
	&--black{
		color:$black;
		&:visited{
			color:$black;
		}
		&:hover,
		&:focus,
		&:active {
			color: $black;
		}
	}
	&--on-dark{
		color:$color__link-on-dark;
		&:visited{
			color:$color__link-on-dark-visited;
		}
		&:hover,
		&:focus,
		&:active {
			color: $color__link-on-dark-hover;
		}
	}
}
