.sticky {
	display: block;
}

#logo{
	text-decoration:none;
	margin:0;
	display:block;
	padding:.5em 0em;
	margin:0 auto;
	width:12em;
}

// Single Posts Type Scaling
.the-content{
	aside{
		margin-bottom:$space-after;
		margin-left:$space-l;
		padding:$space-l;
		float:right;
		max-width:$measure-width-narrow;
		color:$black60;
		border:.25rem solid;
		@include breakpoint(m) {
			line-height:1.6875;
		}
		@include breakpoint(xl) {
			line-height:1.825;
			padding:1.875rem;
		}
	}
}
.main-content{
	div{
		margin-bottom:$space-after;
	}
	p {
		font-family:$font__serif;
		@include breakpoint(m) {
			font-size:1.125rem;
		}
		@include breakpoint(xl) {
			font-size:1.25rem;
		}
	}
}
